/*Section 2: Overview*/

.overviewFlex{
    display: flex;
    justify-content: space-around;
    height: 650px;
    color: #2A0721ff;
}

.overviewText{
flex: 2;
flex-basis: 500px;
margin: 55px;
margin-bottom: 0px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overviewText>h3{
    font-size: 3rem;
    margin-top: 0;
}

.overviewText>p{
    font-size: 1.5rem;
    margin: 20px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    color: darkslategray;
}

.overviewImg{
    flex: 1;
    flex-basis: 500px;
    margin: 55px;
    margin-right: 0;
    height: 80%;
}

.overviewImg>img{
    height: 100%;
    border-radius: 15%;
}


@media  (max-width:1350px) {
    .overviewText>h3{
        font-size: 2.1rem;
    }
    .overviewText>p{
        font-size: 1.15rem;
    
    }

    .overviewFlex{
        height: 560px;
    }
}