/*Section 1: Header*/

.backgroundImage{
    background-image: url('../../assets/PlayersBackground.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    min-height: 900px;
    background-attachment: fixed; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center; /* Central alignment of children */
    justify-content: flex-start; /* Align children to the top */
}

body{
    margin: 0px;
}

.titleFlex{
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.titleText>*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 5rem;
    margin: 0px;
}

h1{
    font-weight: 500;
}

h1>span{
    color: aqua;
}
.titleText>h3{
    font-size: 1.5rem;
    font-weight: normal;
}

.cardsContainer {
    display: flex;
    justify-content: space-around; /* This will distribute space evenly */
    align-items: center;
    width: 100%;
    max-width: 1500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* This will center the container if it's less than 100% width */
    gap: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
}