/*Section 1: Header*/

.backgroundImage{
    background-image: url('../../assets/PlayersBackgound.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 900px;
}

body{
    margin: 0px;
}

.titleFlex{
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.titleText>*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 5rem;
    margin: 0px;
}

h1{
    font-weight: 500;
}

h1>span{
    color: aqua;
}
.titleText>h3{
    font-size: 1.5rem;
    font-weight: normal;
}