/* StatsCard.module.css */
.statsCard {
    background: rgba(45, 45, 45, 0.5); /* Dark grey with 80% opacity */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for contrast */
    color: white;
    width: 800px; /* or whatever size you desire */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure the content stretches to the full width of the card */
}
  .season {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .playerInfo {
    margin-bottom: 20px;
    flex: 1;
    padding-top: 10px;
    font-size: 18px;
    line-height: 35px;
  }

  .headshot {
    /* Style as needed */
    padding: 10px; /* Optional spacing around the image */
}
.headshot img {
  height: 200px; /* Set the desired height */
  width: auto; /* Maintain the aspect ratio */
  border-radius: 10px; /* Optional for rounded corners */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}
  .name,
  .age,
  .team,
  .activity {
    margin-bottom: 5px;
  }
  
  .playerStats .stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .label,
  .value {
    display: block;
  }
  
  .changePlayer {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust based on your layout */
    margin-top: 20px;
  }
  
  .inputField {
    margin: 5px 0; /* Spacing between inputs */
    padding: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners for the input fields */
    width: 70%; /* Relative width to the card size */
  }
  
  .submitButton {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff; /* Example blue */
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  