@keyframes growWidth {
    from {
        width: 0%;
    }
    to {
        /* The actual width will be set dynamically, so this is just a placeholder. */
        width: 100%;
    }
}

.statBar {
    background-color: white;
    height: 5px;
    align-self: center;
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.9);
    /* Apply this animation only initially */
}
